*{
    box-sizing: border-box;
}

:root{
    --primary-color:#fff;
    --secondary-color:#0E26D1;
    --color-heading:#1B0760;
    --color-footer:#808080;
}

html{
    font-size: 62.5%;
}

/* LAYOUT */
.nav-bar{
    display: flex;
}




